<!DOCTYPE html>
<html>
    <head>

        <title>Skill Farming</title>

        <!-- <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"> -->
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bootflat/css/bootflat.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700|Josefin+Sans:700">

        <!-- <link rel="stylesheet" type="text/css" href="object-fit-0.4.1/dist/polyfill.object-fit.css"> -->
        <link rel="stylesheet" type="text/css" href="skillfarming.css">

    </head>

    <body id="skill-farming-app">

        <h1>Skill Farming</h1>

        <h2>Inputs</h2>
        
        <label for="sp-per-hour">SP per hour:</label>
        <input id="sp-per-hour" type="number" v-model="input.spPerHour" value="2700">
        <br>

        <label for="accounting-level">Accounting Level:</label>
        <input id="accounting-level" type="number" v-model="input.accountingLevel" value="5">
        <br>

        <label for="broker-relations-level">Broker Relations Level:</label>
        <input id="broker-relations-level" type="number" v-model="input.brokerRelationsLevel" value="5">
        <br>

        <label for="number-characters">Number of characters:</label>
        <input id="number-characters" type="number" v-model="input.numberCharacters" value="1">
        <br>

        <h2>Outputs</h2>

        <h3>Monthly Profit</h3>
        <h4>{{ totalRevenue - totalCost | currency '' 2 }} ISK</h4>
    
        <h3>Monthly Cost</h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="isk-header">Base Price</th>
                    <th>Monthly Multiplier</th>
                    <th class="isk-header">Taxed Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Plex Buy</th>
                    <td class="isk">{{ prices.plexBuy | currency '' 2 }}</td>
                    <td>{{ input.numberCharacters }}</td>
                    <td class="isk">{{ taxedPlexBuy | currency '' 2 }}</td>
                </tr>
                <tr>
                    <th>Extractor Buy</th>
                    <td class="isk">{{ prices.extractorBuy | currency '' 2 }}</td>
                    <td>{{ input.numberCharacters * extractorsPerMonth }}</td>
                    <td class="isk">{{ taxedExtractorBuy | currency '' 2 }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="isk">{{ totalCost | currency '' 2}}</th>
                </tr>
            </tfoot>
        </table>
        
        <h3>Monthly Revenue</h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="isk-header">Base Price</th>
                    <th>Monthly Multiplier</th>
                    <th class="isk-header">Taxed Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Injector Sell</th>
                    <td class="isk">{{ input.numberCharacters * injectorsPerMonth * prices.injectorSell | currency '' 2 }}</td>
                    <td>{{ input.numberCharacters * injectorsPerMonth }}</td>
                    <td class="isk">{{ input.numberCharacters * injectorsPerMonth * taxedSellOrderPrice(prices.injectorSell) | currency '' 2 }}</td>
                </tr>
            </tbody>
            <tfoot>
                <th></th>
                <th></th>
                <th></th>
                <th class="isk">{{ totalRevenue | currency '' 2 }}</th>   
            </tfoot>
        </table>


        <script type="text/javascript" src="bootstrap/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
        <script type="text/javascript" src="skillfarming.js"></script>

    </body>
</html>